@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gap: clamp(1.5rem, 6vw, 6rem);
  --clr-primary: #e46430;
  --clr-secondary: #1a1a1a;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-secondary);
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: var(--gap);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 800;
  line-height: 1.1;
  color: var(--clr-primary);
  padding-block: var(--gap);
}

#stopPropagation,
#stopImmediatePropagation {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap) calc(var(--gap) /2);

  & h2 {
    background-color: var(--clr-secondary);
    width: 100%;
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    padding-block: var(--gap);

    & span:nth-child(1) {
      color: white;
    }

    & span:nth-child(2) {
      color: white;
    }

    & span:nth-child(3) {
      color: var(--clr-primary);
    }
  }

  & article {
    --title-height: 80px;
    background: linear-gradient(45deg, transparent 49%, #1a1a1a 49% 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #1a1a1a 49% 51%, transparent 51%);
    background-size: 1em 1em;
    background-color: #ffffff;
    position: relative;
    flex: 1;
    padding: calc(var(--gap) / 3);
    padding-top: calc(var(--gap) * 2);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-top: calc(var(--title-height) / 2);

    & h3 {
      font-size: clamp(1.1rem, 2.5vw, 1.5rem);
      font-weight: 600;
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      background-color: var(--clr-secondary);
      height: var(--title-height);
      width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding-inline: 2rem;
      border-radius: 50px;
    }

    & pre[class*="language-"] {
      flex: 1;
      border-radius: 10px;
      padding: clamp(0px, 4vw, 2rem);
      max-width: 550px;
      width: 100%;
    }

    & button {
      border-radius: 8px;
      border: 1px solid transparent;
      font-size: 1.1rem;
      font-weight: 600;
      font-family: inherit;
      color: white;
      cursor: pointer;
      transition: 300ms;
      transform: scale(1.05);
      margin-top: auto;
      padding: 1rem 4rem;
      background-color: var(--clr-secondary);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

      &:hover {
        background-color: var(--clr-primary);
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}